.bannerad{
    display: inline-block;
    text-align: center;
}
.TextBanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    color: white;
}
.Contad{
    width: 80%;
    display: flex;
	margin: auto;
    flex-direction: column;
}
.Contad li{
    margin-left: 15px;
}
.textn{
    font-weight:bold;
}
table {
    font-family: arial, sans-serif;
    /* border:none; */
    border-collapse:collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.Pais{
    width: 20px;
}