@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #ECF0F5;
}
.logo{
    background-color: #397FA9;
    padding-bottom: 6px;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: #3C8DBC;
    border-bottom: 3px solid #3C8DBC;
}
.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #222D32;
    z-index: 1;
    display: none;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #3c506a;
    position: relative;
}
/*
.menu ul li.activar:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}
*/
.menu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.menu ul li i {
    color: #0497df;
    min-width: 20px;
    text-align: center;
}
.menu ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}
/* main content styles */

    .header {
        background-color: #3C8DBC;
        z-index: 1;
    }
    .header .logo {
        display: none;
    }
    .menu {
        display: block;
        width: 70px;
        z-index: 2;
    }
 
    .menu {
        width: 220px;
    }


